{% extends 'base.html.twig' %} 
{% block title %}Hello My Revisions!{% endblock %} 
{% block body %}
    <div class="container"  style="background-image:url('divers/images/doorGarage.jpg');background-size: cover;">
        <div class="row d-flex justify-content-center p-3">
        {% for revision in revision %}
        <div class="card m-5 col-md-3" style="box-shadow: 10px 10px 5px">
            <div class="card-body">
                <h5 class="card-title">Révision faite le {{ revision.datereviz }}</h5>
                <p class="card-text">à {{ revision.kilometrage }} kms</p>
                <p class="card-text">Huile: {{ revision.huile }}</p>
                <p class="card-text">Filtres changés: {{ revision.filtre }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}