{% extends 'base.html.twig' %} 
{% block title %}Hello MyCars!{% endblock %} 
{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
        {% for revision in revision %}
        <div class="card m-3" style="width: 18rem; box-shadow: 1px 1px 1px">
            <div class="card-body">
            <h5 class="card-title">Révisions</h5>
            <p class="card-text">{{ revision.datereviz }}</p>
            <p class="card-text">{{ revision.kilometrage }}</p>
            <p class="card-text">{{ revision.filtre }}</p>
            <p class="card-text">{{ revision.huile }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}