{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display4">
                
            </h1>
        </div>
    </div>
{% endblock %}