<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row header mb-3">
        <div class="col-md-4 d-flex justify-content-center fw-bold mt-2">
          Le {{ 'now'|date('d - m -Y') }}
        </div>
        <div class="col-md-4 d-flex justify-content-center fw-bold fs-3">
          RevizCar
        </div>
        <div
          class="col-md-4 d-flex justify-content-center mt-2"
          style="color: blue"
        >
          <i class="fa-solid fa-circle-user fa-2x"></i>
        </div>
      </div>
    </div>
  </body>
</html>