{% extends 'base.html.twig' %} 
{% block title %}Hello My Reparations!{% endblock %} 
{% block body %}
    <div class="container" style="background-image:url('divers/images/garage.jpg');background-size: cover;">
        <div class="row d-flex justify-content-center p-3">
        {% for reparation in reparation %}
        <div class="card m-5 col-md-3" style="box-shadow: 10px 10px 5px">
            <div class="card-body">
                <h5 class="card-title">Réparation faite le {{ reparation.daterep }}</h5>
                <p class="card-text">à {{ reparation.kilometrage }} kms</p>
                <p class="card-text">Réparation: {{ reparation.nature }}</p>
                <p class="card-text">Prix: {{ reparation.prix }} €</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}